@import "reset.css";
/*@import "function.css";*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */

.w{max-width: 1210px;width: 100%;margin: 0 auto;}
body{
	font-size: 100%;
}

.header
	position absolute
	left 0
	right 0
	top 0
	z-index 10
	.h100
		height 100px
	.brand
		height 100%
		width 560px
		background url('') center center no-repeat
	.search-box
		padding:  30px 0
		height 40px
		font-size 0
		input 
			border none
			outline none
			border-radius 0
			vertical-align middle
		.text
			width 200px
			height 40px
			font-size 14px
			color #3050a6
			padding 9px 10px
			line-height 20px
			border 1px solid #fff
			box-sizing border-box
			background none
		.submit
			height 40px
			width 40px
			background #3050a6 url('http://via.placeholder.com/20x20') center center no-repeat
	.menu
		a
			width 12.5%
			height 45px
			background #000000
			font-size 14px
			color #ffffff
			transition 0.3s
			line-height 45px
			text-align center
			&:hover
			&.active
				background #1d378b
				color #ffffff
.banner
	a
		display block
		height 500px
		background  url('') center center no-repeat
		
.nav
	border-bottom 1px solid #ccc
	.scroll
		padding-left 30px
		background url('http://via.placeholder.com/25x25') left center no-repeat
		line-height 60px
		font-size 14px
		color #000000
.product-show
	h3
		padding 30px 0
		font-size 32px
		color #000000
		text-align center
		small
			text-transform uppercase
			display block
			font-size 15px
			color #cccccc
	.option
		background #d6d4d5
		h4
			width 190px
			height 80px
			box-sizing border-box
			padding-top 10px
			font-size 26px
			color #ffffff
			text-align center
			background #1c388d
			small
				text-transform uppercase
				display block
				font-size 15px
				color #fff
		a
			margin 25px 0 25px 20px
			height 30px
			width 120px
			background #ffffff
			color #000000
			line-height 30px
			border 1px solid #666666
			text-align center
	.tel
		background #a2a2a2
		height 80px
		text-transform uppercase
		padding 15px 20px
		box-sizing border-box
		span
			display block
			font-size 16px
			color #ffffff
			&+span
				font-size 22px
				color #7775a8
	.list
		padding-bottom 70px
		.item
			width 33.33%
			padding-top 30px
			color #666666
			.content
				width 355px
				margin 0 auto
				text-align center
				line-height 1.5
			.title
				font-size 30px
				padding 10px 0
			.sub-title
				padding-bottom 20px
				font-size 12px
			a
				display block
				margin 0 auto
				width 100px
				height 30px
				border 1px solid #cccccc
				font-size 16px
				text-align center
				line-height 30px

.w66
	width 70%
.w33
	width 30%
.news
	padding-bottom 50px
	h3
		font-size 22px
		color #cccccc
		line-height 2
		border-bottom 1px solid #cccccc	
		margin-bottom 15px
	.text
		padding-left 30px
		width 400px
		color #666
		h4
			font-size 20px
			line-height 2
		.date
			font-size 12px
			line-height 1
		p
			padding-top 10px
			font-size 20px
			line-height 1.5
			height 60px
			overflow hidden
		.list
			margin-top 10px
			padding-top 10px
			border-top 1px solid #cccccc
			font-size 16px
			color #666666
			line-height 30px
			width 100%
			a
				padding-left 20px
				background url('http://via.placeholder.com/10x10') left center no-repeat
				width 100%
				box-sizing border-box
	
	&.right
		h3
			span
				display block
				width 300px
				margin 0 auto	
		.content
			width 300px
			margin 0 auto
		p
			padding-top 20px
			font-size 14px
			line-height 20px
			overflow hidden
			height 60px
			overflow hidden
.footer
	background #333333
	.bdb202020
		border-bottom 1px solid #202020
	.p30-0
		padding 30px 0
	.h50
		height 50px
	.brand-container
		a
			width 170px
		span
			margin-left 20px
			padding-left 20px
			line-height 50px
			color #ffffff
			border-left 1px solid #fff
	.menu
		width 100%
		border-bottom 1px solid #414141
		.fl
			width 12.5%
			text-align center
			color #ffffff
			line-height 60px
	.copy-right
		padding 20px 0
		font-size 20px
		color #ffffff
		line-height 36px
	h3
		font-size 12px
		color #ffffff
		text-align center
		padding-top 10px
		line-height 1


			
